<h1>My Git commands</h1>

<li>1 Install github to in your computer
<li>Follow below steps:
<li>https://git-scm.com/book/en/v2/Getting-Started-Installing-Git
<li>2 Create account in github https://github.com
<li>3 Create project in github
<li>4 Before working with repository, you need to configure your github username and email ID by running below command

<li>$ git config --global --edit

<li>name = tenzindorji
<li>email = niznetij@gmail.com

<li>5 Create local directory where you can check out the repository
<li>6 Create atleast one file so that it doesn't fail when you commit and push to github
<li>9 Initialize the local directory as a Git repository
<li> $ git init
<li>10 Add the files in the local repository and stages them for commit. To unstage a file, use 'git reset HEAD YOUR-FILE'.

<li>  $ git add .

<li>11 Commit the files that you've staged in your local repository.

<li>  $ git commit -m "First commit"
<li> 12 Connect to github remove repository
<li> Example: git remote add origin https://github.com/tenzindorji/myjenkinsproject.git

<li>  $ git remote add origin remote_repository_URL

<li> 13 Push the changes in your local repository to GitHub. Enter github username and password

<li>  $ git push origin master

<li> 14 Check the files uploaded in github.com


